* {
  margin: 0;
  padding: 0;
}

.App footer {
  margin: 15px 0;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  letter-spacing: -0.5px;
  color: #330867;
}

.App .footer-link {
  color: #330867;
  text-decoration: none;
  border-bottom: 1px solid #330867;
}

.App .footer-link:hover {
  color: #a29aaa;
  border-bottom: 1.5px solid #a29aaa;
  transition: all 200ms ease-in-out;
}
