.DailyForecast {
  margin: 0 auto;
}

.DailyForecastData .date,
.DailyForecastData .high,
.DailyForecastData .low {
  text-align: center;
}

.DailyForecastData .format-day,
.DailyForecastData .high,
.DailyForecastData .low {
  font-size: 16px;
}

.DailyForecastData .format-date,
.DailyForecastData .temp-tag {
  font-size: 14px;
}

.DailyForecastData .daily-icon {
  display: block;
  margin: 7px auto;
  height: 37px;
  width: 37px;
}
