.Footer {
  margin: 10px 0 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  list-style-type: none;
}

.Footer .footer-links {
  padding: 0;
}

.Footer .footer-links li {
  display: inline;
  margin: 0 15px;
  color: #fff;
}

.Footer .footer-links li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.Footer .footer-links li a:hover {
  font-size: 18px;
  color: #0174f0;
  border-bottom: 1.5px solid #0174f0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.icon-codeslash,
.icon-github {
  font-size: 16px;
  color: #fff;
}

.FooterModal {
  padding: 20px;
  font-family: "Raleway", sans-serif;
  color: #033649;
}

.FooterModal p {
  text-align: center;
  font-size: 16px;
}

.FooterModal .credits {
  font-size: 22px;
}

.FooterModal a {
  font-size: 16px;
  color: #033649;
  outline-style: none;
  text-decoration: none;
  border-bottom: 1px solid #033649;
}

.FooterModal a:hover {
  color: #0174f0;
  outline-style: none;
  border-bottom: 1.5px solid #0174f0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
