.Footer {
  margin: 10px 0 50px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  list-style-type: none;
}

.Footer .footer-links {
  padding: 0;
}

.Footer .footer-links li {
  display: inline;
  margin: 0 15px;
  color: #fff;
}

.Footer .footer-links li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}

.Footer .footer-links li a:hover {
  font-size: 18px;
  color: #0174f0;
  border-bottom: 1.5px solid #0174f0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.icon-codeslash,
.icon-github {
  font-size: 16px;
}

.popup-content {
  width: 75%;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #033649;
}

.popup-content p {
  font-size: 16px;
}

.popup-content .icon-codeslash {
  color: #033649;
}

.popup-content .credits {
  position: relative;
  left: -50px;
  font-size: 22px;
}

.popup-content ul {
  display: inline-block;
  text-align: left;
}

.popup-content a {
  font-size: 16px;
  color: #033649;
  outline-style: none;
  text-decoration: none;
  border-bottom: 1px solid #033649;
}

.popup-content a:hover {
  color: #0174f0;
  outline-style: none;
  border-bottom: 1.5px solid #0174f0;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
