.HourlyForecast {
  margin: 0 auto;
}

.HourlyForecastData {
  text-align: center;
}

.HourlyForecastData .hours,
.HourlyForecastData .temp {
  margin: 5px 0;
  font-size: 16px;
}

.HourlyForecastData .hourly-icon {
  display: block;
  margin: 0 auto;
  height: 27px;
  width: 27px;
}
