.HourlyForecast {
  margin: 0 auto;
}

.HourlyForecastData {
  margin: 0 5px;
  text-align: center;
}

.HourlyForecastData .Hours,
.HourlyForecastData .Temp {
  font-size: 14px;
}

.HourlyForecastData .HourlyIcon {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 30px;
}
