.Weather {
  max-width: 570px;
  margin: 20px auto;
  padding: 20px 20px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  opacity: 0.9;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.5px;
  color: #fff;
}

/* SEARCH FORM */
.Weather .search-form {
  margin-top: 15px 15px 0 15px;
}

.Weather .btn-search {
  color: #330867;
}

.Weather .btn-search:hover {
  color: #a29aaa;
}

.Weather .btn-current-location:hover {
  color: #330867;
}

/* DATE & TIME */
.Weather .date-time {
  font-size: 14px;
}

/* SECTION: OVERVIEW */
.Weather .section-overview {
  padding-top: 20px;
}

.Weather .timestamp-wrapper,
.Weather .temperature-wrapper {
  padding: 0 15px;
}

.Weather .location {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 500;
}

.ConvertTempUnit .temperature {
  padding-right: 30px;
  font-size: 45px;
  font-weight: 500;
  line-height: 70px;
}

.ConvertTempUnit .temp-unit {
  position: relative;
  top: -20px;
  left: -25px;
  border-bottom: 1px solid transparent;
  font-size: 22px;
  font-weight: 500;
}

.ConvertTempUnit .temp-unit a {
  color: #ef7d5e;
  text-decoration: none;
}

.ConvertTempUnit .temp-unit a:hover {
  color: #a29aaa;
  border-bottom: 1px solid #a29aaa;
  transition: all 200ms ease-in-out;
}

/* .Weather .icon-temp {
  display: block;
  margin: 0 auto;
  font-size: 70px;
} */

.Main canvas {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
}

.Weather .description {
  font-size: 25px;
  font-weight: 500;
  text-transform: lowercase;
}

.Weather .additional-data {
  margin: 0;
  padding: 0;
  text-align: right;
  list-style-type: none;
  font-size: 14px;
}

.Weather .HourlyForecastHeading {
  margin: 25px 0 0;
}

.Weather .DailyForecastHeading {
  margin: 25px 0 0;
}
